<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <style>
        fieldset{
            width:fit-content;
            box-shadow: 2px 2px 4px #333;
            text-align: left;
            background-color: #DEF5E5;
            border-radius: 10px
           
           
        }
       
    </style>
         
        <fieldset >
            <h1 align="center" > KTP <a  th:text="${sendNama}"/></h1><hr/>
            <p>
          Nama:  <a  th:text="${sendNama}"/>
          </p>
          <p>
          Tanggal Lahir: <a th:text="${sendTgl}"/>
          </p>
          <image  th:src="${sendPict}" width="150px" height="150px"/>               
        </fieldset>
    </body>
</html>
